{% extends "base.html" %}
{% block title %}关于我们{% endblock %}
{% block content %}
<div class="main-content container">
    <div class="inner-content">
        <div class="xxdj-report border zycs_text">
            ***************************************************<br>
            ***************************************************<br>
            ***************************************************<br>
            ***************************************************<br>
            ***************************************************<br>
            ***************************************************<br>

        </div>
    </div>
</div>
{% endblock %}

